body {
    font-size: 16px;
}

.fixed {
    position: fixed;
}

/* Header */
.bs-docs-header {
    position: relative;
    padding: 20px 0;
    color: #f3f3f3;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background: #5e5e5e linear-gradient(to bottom, #1F1E1E 0, #5e5e5e 100%) repeat-x;
    font-family: serif;
}

.bs-docs-header a {
    color: #f3f3f3;
}

.logo-header {
    text-shadow: 4px 3px 0 #000000, 9px 8px 0 rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    font-size: 90px;
}

.logo-header sub {
    font-size: 13px;
}

.header-text {
    font-size: 20px;
}

.header-links-block {
    padding-top: 20px;
}

.btn-header {
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border-color: #bbb;
    margin-left: 7px;
    margin-right: 7px;
}

/* Sections */
.bs-docs-main {
    font-family: sans-serif;
}

.group {
    width: 100%;
    min-height: 200px;
}

.group .subgroup {
    width: 100%;
    min-height: 200px;
}

.group h3 {
    font-weight: bold;
    color: teal;
    margin-top: 20px;
}

.subgroup h4 {
    font-weight: bold;
    color: teal;
    margin-top: 20px;
}

.prettyprint {
    margin: 10px 0 30px;
    font-size: 16px;
    padding: 20px !important;
    max-width: 750px
}

/* Sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav > li > a {
    color: #777;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 16px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > li > a:hover,
.bs-docs-sidebar .nav > li > a:focus {
    color: #333;
    text-decoration: none;
    background-color: transparent;
    border-left-color: teal;
}

/* all active links */
.bs-docs-sidebar .nav > .active > a,
.bs-docs-sidebar .nav > .active:hover > a,
.bs-docs-sidebar .nav > .active:focus > a {
    font-weight: 700;
}

/* nested active links */
.bs-docs-sidebar .nav .nav > .active > a,
.bs-docs-sidebar .nav .nav > .active:hover > a,
.bs-docs-sidebar .nav .nav > .active:focus > a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;
}

/* show active nested list */
.bs-docs-sidebar .nav > .active > ul.nav {
    display: block;
}


